.small-8.large-centered.columns

  .header.small-12.columns
    %h1 Web-jukebox
    %p This is a nice application. You can listen to music from a theme here. Choose a room and start listening!

  .rooms.small-12.columns
    - @rooms.each do |room|
      .room.small-4.columns
        = link_to room do
          = placeholdit_image_tag "250", text: "Album Cover for #{room.theme.name}", background_color: "#ff9200", text_color: "#C53421"

    -# ***PLACEHOLDERS START*** remove once there are more rooms
    .room.small-4.columns
      = placeholdit_image_tag "250", text: "Placeholder Room Theme", background_color: "#ffb134", text_color: "#F76700"
    .room.small-4.columns
      = placeholdit_image_tag "250", text: "Placeholder Room Theme", background_color: "#ffc900", text_color: "#ff9200"
    -# ***PLACEHOLDERS END*** remove once there are more rooms
