.small-8.large-centered.columns

  .header
    %h1= "#{@room.theme.name} Jukebox"
    %p= "There are #{@room.play_queue.songs.count} song(s) in the queue. The queue is [n] minutes long."

  .player
    %p
      %iframe{frameborder: "no", height: "0", scrolling: "no", src: "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/105974368&auto_play=true&hide_related=false&visual=true", width: "0%"}


  #reveal-button.button.success.large{data: {"reveal-id" => "add-song-modal", "reveal" => ""}} Add a song to the queue

  .button{:onclick => "toggleplayer();"} Toggle! 

  .button{:onclick => "nextsong();"} Next Song!

  -#.button{:onclick => @room.registerSoundCloudClient} Register SoundCloud client!
  -#= button_to "Register Soundcloud client", :action => "registerClient"
  = link_to register_client_room_path(@room), :remote => true do
    .button register client

-# Modal
#add-song-modal.reveal-modal.modal.small{"data-reveal" => ""}
  .row
    .large-12.columns
      = render :template => "play_queues/edit"

  %a.close-reveal-modal &#215;