.small-8.large-centered.columns

  .header.small-12.columns
    %h1= "#{@room.theme.name} Jukebox"
    %p= "There are #{@room.play_queue.songs.count} Song(s) in the Queue. The Queue is n minutes long."

  .player.small-12.columns
    .small-5.columns#albumArt
      = placeholdit_image_tag "300", text: "Album Cover", background_color: "#ff9200", text_color: "#C53421"
      %iframe{frameborder: "no", height: "0", scrolling: "no", src: "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/105974368&auto_play=false&hide_related=false&visual=true", width: "0%"}
    .small-7.columns#songData
      %h3 Artist name
      %h2 Song name
      %p From the Album Album name
      %p Chosen by User name

  .options.small-12.columns
    .small-5.columns
      #reveal-button.button.expand.success{data: {"reveal-id" => "add-song-modal", "reveal" => ""}} Add a Song to the Queue

  .developer.small-12.columns
    %hr
    %h4 Developer Options
    .button{:onclick => "gettime();"} Time!
    .button{:onclick => "toggleplayer();"} Toggle! 
    .button{:onclick => "testnextsong();"} Next Song!
    .button{:onclick => "getsound();"} Get Sound!
    = link_to room_play_queue_song_path(@room, @room.play_queue, @room.play_queue.songs.first), :method => :delete do
      .button Delete first Song in Queue
    = link_to register_client_room_path(@room), :remote => true do
      .button Register Client
    = link_to manage_room_path(@room), :remote => true do
      .button Time "song"

      -# = link_to "Delete Attachment", project_thread_attachment_path(@attachment.thread.project.id, @attachment.thread.id, @attachment.id), :confirm => "Are you sure you want to delete this attachment?", :method => :delete

-# Modal
#add-song-modal.reveal-modal.modal.small{"data-reveal" => ""}
  .row
    .large-12.columns
      = render :template => "play_queues/edit"

  %a.close-reveal-modal &#215;