= form_for [@room, @play_queue], :html => { :multipart => true }, :remote => true do |f|
  - if @play_queue.errors.any?
    #error_explanation
      %p="#{pluralize(@play_queue.errors.count, "error")} prohibited the song from being added:"
      %ul
      - @play_queue.errors.full_messages.each do |msg|
        %li= msg

  = f.fields_for :songs do |builder|
    = render 'play_queues/song_fields', f: builder

  .actions
    = f.submit 'Add song', :class => "button success"
